.second{
    background-color: #034a95;
}

/* Custom styles for the sidebar and page content */
#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    overflow-y: auto;
}

#page-content-wrapper {
    flex: 1;
    padding: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}

.dropdown-menu{
    overflow: auto;
}